---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio | Pablo - Estudiante Ingeniería Informática"
	description="">
	<main>
		<section id="start" class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row  gap-x-4 pb-4">
				Hey, soy Pablo.
				<div class="flex justify-center items-center">
					<Badge>Estudiando</Badge>
				</div>
			</h1>
			<h2 class="text-2xl opacity-80">
				Estudiante de Ingeniería informática en la Escuela Politécnica de Gijón.
			</h2>
		</section>
	</main>
</Layout>